.sec-title-3 .title-3 {
    position: relative;
    display: block;
    font-size: 36px;
    line-height: 24px;
    color: #416203;
    font-weight: 800;
    margin-bottom: 15px;
    /* animation: slideInLeft 1.2s ease-in-out 3.1s forwards; */
    /* padding-top: 80px; */
    
    text-align: center;
    margin-bottom: 50px;
    text-shadow: -2px 2px #cdc6c6;
    margin-top: 50px;
  }
  
  
  .sec-title-3 h2 {
    position: relative;
    display: block;
  
    line-height: 1.28em;
    color: #002e5a;
    font-weight: 700;
    animation: slideInLeft 1.2s ease-in-out 3.3s forwards;
    font-family: "Montserrat";
  }
   
  .sec-title-3 h6 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1.28em;
    color: #002e5a;
    font-weight: 700;
    padding-bottom: 18px;
    font-family: "Montserrat";
    animation: slideInLeft 1.2s ease-in-out 3.6s forwards;
  }
   
  .sec-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
  }
   
  .sec-icon::before {
    content: "";
    position: absolute;
    height: 1px;
    left: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333333;
    width: 50px;
  }
   
  .sec-icon::after {
    content: "";
    position: absolute;
    height: 1px;
    right: -70px;
    margin-top: -5.5px;
    top: 60%;
    background: #333;
    width: 50px;
  }
   
  .advertisers-service-sec { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
/*    
  .advertisers-service-sec span {
    color: rgb(82 112 26);
  } */
   
  .advertisers-service-sec .col {
    padding: 0 1em 1em 1em;
    text-align: center;
  }
   
  div#col-service-product {
    margin-bottom: 10px;
    margin-top: 10px;
  }
   
  .advertisers-service-sec .service-card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
    background: #fff;
    animation: slideInLeft 1.2s ease-in-out 3.6s forwards;
  }
   
  .advertisers-service-sec .service-card::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(#11203C, #148878);
    position: absolute;
    left: 0%;
    bottom: -98%;
    z-index: -2;
    transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
  }
   
  .advertisers-service-sec h3 {
    font-size: 18px;

    font-weight: 700;
    color: #002e5a;
    z-index: 3;
    text-align: center;
  }
   
  .advertisers-service-sec p {
    color: #575a7b;
    font-size: 16px;
    z-index: 3;

    text-align: center;
    margin-top: 28px;
  }
   
  .advertisers-service-sec .icon-wrapper {
    background-color: #002e5a;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 60px;
    width: 60px;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: 3;
  }
   
  .advertisers-service-sec .service-card:hover:after {
    bottom: 0%;
  }
 
  
  .service-card .icon-wrapper {
    background-color: #ffffff;
    color: #0e423b;

  }
 

   
  .advertisers-service-sec .service-card:hover .icon-wrapper {
    color: #002e5a;
    margin-bottom: 21px;
  }
   
  .advertisers-service-sec .service-card:hover h3 {
    color: #ffffff;
   
  }
   
  .advertisers-service-sec .service-card:hover p {
    color: #f0f0f0;
  }
  img.card-img {
    padding: 9px;
}


